.tab {
    position: absolute;
    left: 380px;
    top: 228px;
    width: 320px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 480px;
    left: calc(50% - 480px/2);
    top: 228px;
} 
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.link {
    height: 64px;
    text-decoration: none;
    color: #F2F2F3;
}