.column {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 612px;
    height: 912px;
    overflow-y: scroll;
}
.column::-webkit-scrollbar
{
    width: 8px;
	background-color: #8585AD;
}
.column::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #2F2F37;
}
.column::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.fold {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
