.body {
    width: 272px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.body:hover {
    border: 1px dashed #4C4CFF;
}
img {
    margin: 0 auto;
}
.name {
    text-align: center;
}
.price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter {
    position: absolute;
    top: 0;
    right: 0;
}